---
import IconCertificate from "../icons/IconCertificate.astro"
---

<div class="py-14 bg-canary rounded-[30px]">
  <div class="flex flex-wrap md:justify-between px-[20px]">
    <div class="w-full md:w-5/12">
      <h2 class="text-2xl font-serif">Obtenez un certificat</h2>
      <p class="mt-5">Validez vos connaissances nouvellement acquises et recevez un certificat à afficher sur vos profils professionnels.</p>
      <div class="flex items-center mb-9 mt-9 md:mb-0">
        <IconCertificate size="86"/>
        <p class="ml-5 font-bold text-lg leading-7">Certificat de participation au cours</p>
      </div>
    </div>
    <div class="w-full md:w-7/12">
      <img
        src="/fake-certificate.png"
        width="503"
        height="355"
        class="rounded-xl border-2 border-downriver"
      />
    </div>
  </div>
</div>

<p class="mt-5 px-[20px] text-sm text-center">
  Le contenu pressenti de ce cours pourra être soumis à de légères variations au moment de sa création finale.
</p>
