@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: Filson Pro, sans-serif;
  --font-serif: Termina, serif;

  --text-xl: 20px;
  --text-xl--line-height: 34px;

  --color-downriver: #08124f;
  --color-blue: #0f24f7;
  --color-denim: #197abf;
  --color-canary: #e3fd52;
  --color-chiffon: #f7fecb;
  --color-brightred: #ad0002;
  --color-cosmos: #ffe8e8;
  --color-magnolia: #f6f1ff;
  --color-selago: #f4f6fe;
  --color-shipgray: #3f3e47;
  --color-gray: #838383;
  --color-silversand: #bdbfc1;
  --color-concrete: #f3f3f3;
}

@custom-variant lg (@media (width >= theme(--breakpoint-lg)));
@custom-variant xl (@media (width >= theme(--breakpoint-xl)));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
  font-family: "Filson Pro";
  src:
    url("https://use.typekit.net/af/c12453/0000000000000000000157bf/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/c12453/0000000000000000000157bf/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/c12453/0000000000000000000157bf/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Filson Pro";
  src:
    url("https://use.typekit.net/af/19c742/0000000000000000000157c9/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/19c742/0000000000000000000157c9/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/19c742/0000000000000000000157c9/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Termina";
  src:
    url("https://use.typekit.net/af/3046cd/00000000000000007735b224/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/3046cd/00000000000000007735b224/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff"),
    url("https://use.typekit.net/af/3046cd/00000000000000007735b224/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

@layer base {
  html {
    font-size: 16px;
  }

  body {
    font-size: var(--text-xl);
    color: var(--color-downriver);
    letter-spacing: 0.01em;
    background-color: var(--color-selago);
  }
}

@utility container {
  margin-inside: auto;
  max-width: 1240px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.screenshot {
  border: 2px solid var(--color-downriver);
  border-radius: 50%;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
