<h1 class="font-serif text-center text-downriver text-3xl leading-[46px] md:text-6xl md:leading-[82px]">
  Lancez-vous dans l'animation d'ateliers UX et design thinking !
</h1>

<div class="mt-6">
  <ul class="flex flex-wrap justify-center">
    <li class="m-1">
      <span class="inline-block px-2 leading-7 text-blue bg-canary text-sm font-bold">ateliers présentiels</span>
    </li>
    <li class="m-1">
      <span class="inline-block px-2 leading-7 text-blue bg-canary text-sm font-bold">ateliers à distance</span>
    </li>
    <li class="m-1">
      <span class="inline-block px-2 leading-7 text-blue bg-canary text-sm font-bold">ateliers hybrides</span>
    </li>
  </ul>
</div>

<div class="mt-16">
  <p class="text-center text-downriver text-[22px] pb-24">
    Un cours interactif, complet et pragmatique, conçu pour aider les designers à maîtriser les méthodologies d'ateliers de conception et à se libérer du sentiment d'imposture.
  </p>
</div>
