<h1 class="font-serif text-center text-downriver text-3xl leading-[46px] md:text-6xl md:leading-[82px] lg:w-10/12 lg:mx-auto">
  Lancez-vous dans l'animation d'ateliers UX et design thinking !
</h1>

<div class="mt-6">
  <ul class="flex flex-wrap gap-2 justify-center md:gap-4">
    <li>
      <span class="inline-block px-2 leading-7 text-blue bg-canary text-sm font-bold">ateliers présentiels</span>
    </li>
    <li>
      <span class="inline-block px-2 leading-7 text-blue bg-canary text-sm font-bold">ateliers à distance</span>
    </li>
    <li>
      <span class="inline-block px-2 leading-7 text-blue bg-canary text-sm font-bold">ateliers hybrides</span>
    </li>
  </ul>
</div>

<div class="mt-16 mt-10 lg:w-7/12 lg:mx-auto">
  <p class="text-center text-downriver text-[22px]">
    Un cours interactif, complet et pragmatique, conçu pour aider les designers à maîtriser les méthodologies d'ateliers de conception et à se libérer du sentiment d'imposture.
  </p>
</div>
