---
import CourseCharacteristic from "./CourseCharacteristic.astro";
import IconOnlineCourse from "../icons/IconOnlineCourse.astro"
import IconSimplifiedModules from "../icons/IconSimplifiedModules.astro"
import IconGift from "../icons/IconGift.astro"
import IconQuiz from "../icons/IconQuiz.astro"
import IconCockade from "../icons/IconCockade.astro"
import IconFlag from "../icons/IconFlag.astro"
import IconSmiley from "../icons/IconSmiley.astro"
import Screenshot from "../Screenshot.astro"
---

<div class="flex flex-wrap">
  <div>
    <ul class="space-y-8">
      <li>
        <CourseCharacteristic
          title="Cours en ligne"
          description="À votre rythme"
        >
          <IconOnlineCourse slot="icon" />
        </CourseCharacteristic>
      </li>
      <li>
        <CourseCharacteristic
          title="5 modules thématiques"
        >
          <IconSimplifiedModules slot="icon" />
        </CourseCharacteristic>
      </li>
      <li>
        <CourseCharacteristic
          title="Outils clé-en-main à télécharger"
        >
          <IconGift slot="icon" />
        </CourseCharacteristic>
      </li>
      <li>
        <CourseCharacteristic
          title="Quiz instantanés"
        >
          <IconQuiz slot="icon" />
        </CourseCharacteristic>
      </li>
      <li>
        <CourseCharacteristic
          title="Certificat de participation"
        >
          <IconCockade slot="icon" />
        </CourseCharacteristic>
      </li>
      <li>
        <CourseCharacteristic
          title="Français"
        >
          <IconFlag slot="icon" />
        </CourseCharacteristic>
      </li>
      <li>
        <CourseCharacteristic
          title="Public"
          description="Designers UX, designers produit, chef&middot;fe&middot;s de projet, product owners, responsables d’équipe..."
        >
          <IconSmiley slot="icon" />
        </CourseCharacteristic>
      </li>
    </ul>
  </div>

  <div class="w-full mt-16">
    <ul class="space-y-5">
      <li>
        <Screenshot
          src="/course-screenshot-1.webp"
          alt="Première capture d'écran du site d'apprentissage en ligne"
        />
      </li>
      <li>
        <Screenshot
          src="/course-screenshot-2.webp"
          alt="Seconde capture d'écran du site d'apprentissage en ligne"
        />
      </li>
      <li>
        <Screenshot
          src="/course-screenshot-3.webp"
          alt="Troisième capture d'écran du site d'apprentissage en ligne"
        />
      </li>
    </ul>
  </div>
</div>
