---
import Screenshot from "../@commons/Screenshot.astro"
import Caracteristique from "./Caracteristique.astro";
import IconOnlineCourse from "../@commons/icons/IconOnlineCourse.astro"
import IconSimplifiedModules from "../@commons/icons/IconSimplifiedModules.astro"
import IconGift from "../@commons/icons/IconGift.astro"
import IconQuiz from "../@commons/icons/IconQuiz.astro"
import IconCockade from "../@commons/icons/IconCockade.astro"
import IconFlag from "../@commons/icons/IconFlag.astro"
import IconSmiley from "../@commons/icons/IconSmiley.astro"
---

<div class="flex flex-wrap">
  <div>
    <ul class="space-y-8">
      <li>
        <Caracteristique
          title="Cours en ligne"
          description="À votre rythme"
        >
          <IconOnlineCourse slot="icon" />
        </Caracteristique>
      </li>
      <li>
        <Caracteristique
          title="5 modules thématiques"
        >
          <IconSimplifiedModules slot="icon" />
        </Caracteristique>
      </li>
      <li>
        <Caracteristique
          title="Outils clé-en-main à télécharger"
        >
          <IconGift slot="icon" />
        </Caracteristique>
      </li>
      <li>
        <Caracteristique
          title="Quiz instantanés"
        >
          <IconQuiz slot="icon" />
        </Caracteristique>
      </li>
      <li>
        <Caracteristique
          title="Certificat de participation"
        >
          <IconCockade slot="icon" />
        </Caracteristique>
      </li>
      <li>
        <Caracteristique
          title="Français"
        >
          <IconFlag slot="icon" />
        </Caracteristique>
      </li>
      <li>
        <Caracteristique
          title="Public"
          description="Designers UX, designers produit, chef&middot;fe&middot;s de projet, product owners, responsables d'équipe..."
        >
          <IconSmiley slot="icon" />
        </Caracteristique>
      </li>
    </ul>
  </div>

  <div class="w-full mt-16">
    <ul class="space-y-5">
      <li>
        <Screenshot
          src="/course-screenshot-1.webp"
          alt="Première capture d'écran du site d'apprentissage en ligne"
        />
      </li>
      <li>
        <Screenshot
          src="/course-screenshot-2.webp"
          alt="Seconde capture d'écran du site d'apprentissage en ligne"
        />
      </li>
      <li>
        <Screenshot
          src="/course-screenshot-3.webp"
          alt="Troisième capture d'écran du site d'apprentissage en ligne"
        />
      </li>
    </ul>
  </div>
</div>
