@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
}

body {
    @apply bg-selago font-sans text-downriver;
}

.container {
    @apply px-4;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('/FilsonProRegular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('/FilsonProMedium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
