---
import Included from "./Included.astro";
import IconModules from "../icons/IconModules.astro";
import IconGiftHuge from "../icons/IconGiftHuge.astro";
import IconChecklist from "../icons/IconChecklist.astro";
import IconPathCourse from "../icons/IconPathCourse.astro";
import IconFramework from "../icons/IconFramework.astro";
import IconCertificate from "../icons/IconCertificate.astro";
---

<h2 class="font-serif font-normal text-2xl">Inclus dans ce cours en ligne</h2>

<ul class="mt-8 space-y-16">
    <li>
        <Included
            icon={<IconModules />}
            title="5 modules de cours"
            description="Stratégie, conception, organisation, animation et analyse"
        />
    </li>
    <li>
        <Included
            icon={<IconChecklist />}
            title="40 fiches de questions-réponses"
            description="Des fiches thématiques, synthétiques et pragmatiques"
        />
    </li>
    <li>
        <Included
            icon={<IconGiftHuge />}
            title="Outils clé-en-main"
            description="Un document à partager sur vos profils professionnels"
        />
    </li>
    <li>
        <Included
            icon={<IconPathCourse />}
            title="Trames d’exercices éprouvés"
            description="comme “6 thinking hats”, “6-to-1”, “How might we?”, “brainstorming 3-12-3”..."
        />
    </li>
    <li>
        <Included
            icon={<IconFramework />}
            title="1 framework unique"
            description="Notre outil-clé pour concevoir des ateliers UX sur-mesure"
        />
    </li>
    <li>
        <Included
            icon={<IconCertificate />}
            title="1 certificat de participation"
            description="Un document à partager sur vos profils professionnels"
        />
    </li>
</ul>
