<h3 class="font-bold mb-4 lg:mb-7 lg:text-lg">Cours proposé par</h3>
<div class="flex flex-wrap">
  <div class="flex gap-6 lg:mr-6">
    <img
      src="/yuna.png"
      width="82"
      height="82"
      alt="Yuna Orsini"
      class="w-[82px] h-[82px] border-downriver border-2 rounded-full"
    />
    <img
      src="/dani.png"
      width="82"
      height="82"
      alt="Daniela Peñaranda"
      class="w-[82px] h-[82px] border-downriver border-2 rounded-full"
    />
  </div>
  <div class="w-full mt-4 lg:flex-1 lg:mt-0">
    <p class="text-lg font-bold lg:text-[22px]">Yuna Orsini et Daniela Peñaranda</p>
    <p class="text-lg mt-4 lg:mt-0 lg:text-xl">Designers UX seniors & facilitatrices certifiées design thinking</p>
  </div>
</div>
