<h3 class="font-bold mb-4">Cours proposé par</h3>
<div class="flex flex-wrap">
  <div class="flex-auto flex">
    <img
      src="/yuna.png"
      width="83"
      height="83"
      alt="Yuna Orsini"
      class="border-downriver border-2 rounded-full"
    />
    <img
      src="/dani.png"
      width="83"
      height="83"
      alt="Daniela Peñeranda"
      class="ml-4 border-downriver border-2 rounded-full"
    />
  </div>
  <div class="w-full mt-4">
    <p class="text-lg font-bold">Yuna Orsini et Daniela Peñaranda</p>
    <p class="text-lg mt-4">Designers UX seniors & facilitatrices certifiées design thinking</p>
  </div>
</div>
