---
import styles from "./CourseCharacteristic.module.css";

const { icon, title, description } = Astro.props;
---

<div class="flex items-center">
    <div class="mr-6">{icon}</div>
    <p class="text-lg font-bold">{title}</p>
</div>
{description && <p class={styles.description}>{description}</p>}
