---
import CourseCharacteristic from "./CourseCharacteristic.astro";
import IconOnlineCourse from "../icons/IconOnlineCourse.astro"
import IconSimplifiedModules from "../icons/IconSimplifiedModules.astro"
import IconGift from "../icons/IconGift.astro"
import IconQuiz from "../icons/IconQuiz.astro"
import IconCockade from "../icons/IconCockade.astro"
import IconFlag from "../icons/IconFlag.astro"
import IconSmiley from "../icons/IconSmiley.astro"
import Screenshot from "../Screenshot.astro"
---

<style>
  .screenshot {
    @apply border-2 border-downriver rounded-lg;

    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  }
</style>

<div class="flex flex-wrap">
  <div>
    <ul class="space-y-8">
      <li>
        <CourseCharacteristic
          icon={<IconOnlineCourse/>}
          title="Cours en ligne"
          description="À votre rythme"
        />
      </li>
      <li>
        <CourseCharacteristic
          icon={<IconSimplifiedModules/>}
          title="5 modules thématiques"
        />
      </li>
      <li>
        <CourseCharacteristic
          icon={<IconGift/>}
          title="Outils clé-en-main à télécharger"
        />
      </li>
      <li>
        <CourseCharacteristic
          icon={<IconQuiz/>}
          title="Quiz instantanés"
        />
      </li>
      <li>
        <CourseCharacteristic
          icon={<IconCockade/>}
          title="Certificat de participation"
        />
      </li>
      <li>
        <CourseCharacteristic
          icon={<IconFlag/>}
          title="Français"
        />
      </li>
      <li>
        <CourseCharacteristic
          icon={<IconSmiley/>}
          title="Public"
          description="Designers UX, designers produit, chef&middot;fe&middot;s de projet, product owners, responsables
          d’équipe..."
        />
      </li>
    </ul>
  </div>

  <div class="w-full mt-16">
    <ul class="space-y-5">
      <li>
        <Screenshot
          src="/course-screenshot-1.webp"
          alt="Première capture d'écran du site d'apprentissage en ligne"
        />
      </li>
      <li>
        <Screenshot
          src="/course-screenshot-2.webp"
          alt="Seconde capture d'écran du site d'apprentissage en ligne"
        />
      </li>
      <li>
        <Screenshot
          src="/course-screenshot-3.webp"
          alt="Troisième capture d'écran du site d'apprentissage en ligne"
        />
      </li>
    </ul>
  </div>
</div>
