---
const { title, description } = Astro.props;
---

<div class="text-center">
  <span class="inline-block mx-auto" role="presentation">
    <slot name="icon" />
  </span>
  <p class="mt-6 text-lg font-bold xl:mb-5 xl:text-[22px]">{title}</p>
  <p class="text-sm leading-6 xl:text-lg">{description}</p>
</div>
