---
import Included from "./Included.astro";
import IconModules from "../@commons/icons/IconModules.astro";
import IconGiftHuge from "../@commons/icons/IconGiftHuge.astro";
import IconChecklist from "../@commons/icons/IconChecklist.astro";
import IconPathCourse from "../@commons/icons/IconPathCourse.astro";
import IconFramework from "../@commons/icons/IconFramework.astro";
import IconCertificate from "../@commons/icons/IconCertificate.astro";
---

<h2 class="font-serif font-normal text-2xl md:text-center xl:text-4xl xl:leading-[48px] xl:mb-20">
  Inclus dans ce cours en ligne
</h2>

<ul class="list grid mt-8 gap-16 xl:grid-cols-3 xl:gap-[25px] xl:gap-y-20">
  <li>
    <Included
      title="5 modules de cours"
      description="Stratégie, conception, organisation, animation et analyse"
    >
      <IconModules slot="icon" />
    </Included>
  </li>
  <li>
    <Included
      title="40 fiches de questions-réponses"
      description="Des fiches thématiques, synthétiques et pragmatiques"
    >
      <IconChecklist slot="icon" />
    </Included>
  </li>
  <li>
    <Included
      title="Outils clé-en-main"
      description="Un document à partager sur vos profils professionnels"
    >
      <IconGiftHuge slot="icon" />
    </Included>
  </li>
  <li>
    <Included
      title="Trames d'exercices éprouvés"
      description="comme “6 thinking hats”, “6-to-1”, “How might we?”, “brainstorming 3-12-3”..."
    >
      <IconPathCourse slot="icon" />
    </Included>
  </li>
  <li>
    <Included
      title="1 framework unique"
      description="Notre outil-clé pour concevoir des ateliers UX sur-mesure"
    >
      <IconFramework slot="icon" />
    </Included>
  </li>
  <li>
    <Included
      title="1 certificat de participation"
      description="Un document à partager sur vos profils professionnels"
    >
      <IconCertificate slot="icon" />
    </Included>
  </li>
</ul>
