---
import styles from "./index.module.css"
---

<!-- Thank you Josh :) -->
<button class={styles.pushable}>
  <span class={styles.edge} role="presentation" />
  <span class={styles.front}>
    <slot name="icon" />
    <slot name="label" />
  </span>
</button>
