---
import IconPresale from "../@commons/icons/IconPresale.astro"
---

<div class="flex">
  <span class="mr-4">
      <IconPresale />
    </span>
  <p class="font-bold translate-y-[2px]">
    Vous recevrez un code promo en avant-première !
  </p>
</div>
