---
import CodePromo from "./CodePromo.astro"
import Button from "../@commons/button/index.astro"
import IconNotification from "../@commons/icons/IconNotification.astro"
---

<style lang="scss">
  .input {
    @apply text-base bg-white rounded-full border border-gray;

    width: 100%;
    height: 60px;
    padding: 22px 30px;
  }

  .input:not(:focus):hover {
    @apply bg-concrete;
  }

  .input::placeholder {
    color: rgba(0, 0, 0, 0);
  }

  .input:focus {
    outline-width: 3px;
    outline-color: theme('colors.denim');
  }

  .input:focus, .input:not(:placeholder-shown) {
    padding: 22px 30px 5px;
  }

  .input:focus + label::after,
  .input:not(:placeholder-shown) + label::after {
    transform: translate(31px, -53px) scale(0.75);
  }

  .input:invalid {
    @apply border-[3px] border-brightred bg-cosmos;

    padding-left: 28px;
    padding-right: 28px;
  }

  .input:invalid:focus {
    outline-color: theme('colors.brightred');
  }

  .label::after {
    @apply text-shipgray;

    content: attr(data-content);
    display: inline-block;
    transform-origin: left center;
    transform: translate(31px, -43px) scale(1);
    transition: all 200ms;
  }

  .label {
    @apply text-base;

    display: block;
    max-height: 0;
  }
</style>

<div class="mb-10 xl:mb-6">
  <CodePromo />
</div>

<form>
  <fieldset class="flex flex-wrap flex-col xl:gap-[25px] xl:flex-row">
    <div class="flex-1">
      <input
        type="email"
        id="email"
        class="input"
        name="email"
        placeholder="Votre adresse email"
        required="true"
      />
      <label class="label" for="email" data-content="Votre adresse email">
        <span class="sr-only">Votre adresse email</span>
      </label>
    </div>

    <div class="flex justify-center mt-6 xl:block xl:mt-0">
      <Button type="submit">
        <IconNotification slot="icon"/>
        <span slot="label">Me prévenir du lancement</span>
      </Button>
    </div>
  </fieldset>

  <p class="mt-16 text-sm leading-6 tracking-[0.03em] xl:w-11/12 xl:mt-10">
    Votre adresse email ne sera ni communiquée à des tiers, ni utilisée à d'autres fins que de vous tenir au courant de l'avancée du projet. Vous pourrez à tout moment vous désinscrire de la liste. N'hésitez pas à consulter <strong class="underline">notre politique de données</strong>.
  </p>
</form>
