---
---
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet" />
	<link
        rel="stylesheet"
        href={Astro.resolve("../styles/global.css")}
	/>
	<meta name="viewport" content="width=device-width" />
	<title>Animer des ateliers UX</title>
</head>

<body>
    <div class="container mt-8">
        <div class="flex justify-between">
            <div>
                <p class="font-serif text-lg text-downriver">Animer des ateliers UX</p>
                <p class="inline-block pl-3 pr-4 leading-[26px] text-white bg-blue text-uppercase rounded-r-full font-bold">LE COURS EN LIGNE</p>
            </div>
        </div>
    </div>
    <div class="container">
      <h1 class="font-serif text-center text-downriver text-3xl leading-[46px] md:text-6xl md:leading-[82px]">Lancez-vous dans l'animation d’ateliers UX et design thinking !</h1>
    </div>
</body>

</html>
