---
import BlueTag from "../components/@commons/BlueTag.astro"
import BlueQuote from "../components/@commons/BlueQuote.astro"
import Screenshot from "../components/@commons/Screenshot.astro"

import Hero from "../components/hero/index.astro"
import CoursProposePar from "../components/cours-propose-par/index.astro"
import QuiAApprisALecole from "../components/qui-a-appris-a-lecole/index.astro"
import Bubbles from "../components/bubbles/index.astro"
import Signatures from "../components/signatures/index.astro"
import AnimerDesAteliers from "../components/animer-des-ateliers/index.astro"
import CaracteristiquesDuCours from "../components/caracteristiques-du-cours/index.astro"
import InclusDansCeCours from "../components/inclus-dans-ce-cours/index.astro"
import UneApprocheReponsable from "../components/une-approche-responsable/index.astro"
import Punchline from "../components/Punchline.astro"
import CoursBientotDisponible from "../components/cours-bientot-disponible/index.astro"
import NewsletterSignIn from "../components/newsletter-signin/index.astro"
import LesFormatrices from "../components/les-formatrices/index.astro"
import UneExperienceEprouvee from "../components/une-experience-eprouvee/index.astro"
import SommaireDuCours from "../components/sommaire-du-cours/index.astro"
import ObtenezUnCertificat from "../components/obtenez-un-certificat/index.astro"
import ALaFinDeCeCours from "../components/a-la-fin-de-ce-cours/index.astro"
import QuestionsFrequentes from "../components/questions-frequentes/index.astro"
import MentionsLegales from "../components/MentionsLegales.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet"/>
    <link
      rel="stylesheet"
      href={Astro.resolve("../styles/global.css")}
    />
    <meta name="viewport" content="width=device-width"/>
    <title>Animer des ateliers UX</title>
  </head>

  <body>
    <header class="container mt-8">
      <div class="flex justify-between">
        <div>
          <p class="mb-1 font-serif text-lg text-downriver">Animer des ateliers UX</p>
          <BlueTag label="cours en ligne"/>
        </div>
      </div>
    </header>

    <div class="container mt-20">
      <Hero />
    </div>

    <div class="bg-white py-24">

      <div class="container">
        <CoursProposePar />
      </div>

      <div class="container mt-16">
        <QuiAApprisALecole />
      </div>

      <div class="mt-16">
        <Bubbles/>
      </div>

      <div class="container mt-16">
        <Signatures />
      </div>
    </div>

    <div class="container mt-24">
      <AnimerDesAteliers />
    </div>

    <div class="container mt-16">
      <CaracteristiquesDuCours/>
    </div>

    <div class="container mt-16">
      <InclusDansCeCours />
    </div>

    <div class="mt-16">
      <UneApprocheReponsable />
    </div>

    <div class="bg-white">
      <div class="container mt-24">
        <Punchline text="Favoriser l'intelligence collective est le nouveau pouvoir du designer." />
      </div>
    </div>

    <div class="bg-magnolia py-24">
      <div class="container">
        <CoursBientotDisponible />
      </div>

      <div class="container mt-12">
        <NewsletterSignIn />
      </div>
    </div>

    <div class="bg-white py-24">
      <div class="container px-0">
        <LesFormatrices />
      </div>

      <div class="mt-24">
        <UneExperienceEprouvee />
      </div>
    </div>

    <div class="container mt-24">
      <AnimerDesAteliers />
    </div>

    <div class="mt-16">
      <SommaireDuCours />
    </div>

    <div class="mt-24">
      <ObtenezUnCertificat />
    </div>

    <div class="mt-24">
      <ALaFinDeCeCours />
    </div>

    <div class="bg-white mt-24">
      <div class="container">
        <Punchline text="Passer de la vision d'un jeu de Lego à celle d'un outil de design tactique et imbattable !" />
      </div>
    </div>

    <div class="bg-magnolia">
      <div class="container mt-24">
        <CoursBientotDisponible />
      </div>

      <div class="container mt-12">
        <NewsletterSignIn />
      </div>
    </div>

    <div class="bg-downriver">
      <div class="container mt-24">
        <QuestionsFrequentes />
      </div>
    </div>

    <div class="bg-downriver">
      <div class="container">
        <MentionsLegales />
      </div>
    </div>
  </body>

</html>
