---
const { text } = Astro.props;
---

<style>
  .bubble {
    padding: 16px 20px 18px 22px;
    border: 2px solid theme('colors.downriver');
    filter: drop-shadow(4px 5px 0px theme('colors.canary'));
  }

  .arrow {
    position: absolute;
    right: 40px;
    top: calc(100% - 1px);
  }
</style>

<div class="bubble relative bg-selago rounded-[20px] text-lg">
  <p>
    {text}
  </p>
  <svg class="arrow" width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M 1 0 L 12.5 21 C 14 23.7 17.9 23.7 19.4 21 L 31 0"
      fill="#F4F6FE"
    />
    <path
      d="M 1 2 L 12.5 21 C 14 23.7 17.9 23.7 19.4 21 L 31 2"
      stroke="#08124F"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>
</div>
