---
import Bubble from "./Bubble.astro"
import data from "./data.json"
---

<style lang="scss">
  $padding-x-xl: calc((max(100vw, 1240px) - 1240px) / 2);

  .bubbles {
    gap: 28px;
    padding: 0 20px 50px 20px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    @screen xl {
      $padding-x: calc((max(100vw, 1240px) - 1240px) / 2);

      padding: 0 $padding-x-xl 50px $padding-x-xl;
    }
  }

  .bubble-wrapper {
    flex: 0 0 auto;
    width: 270px;
    scroll-snap-align: center;

    @screen xl {
      width: 395px;
    }
  }
</style>

<ul class="bubbles flex overflow-x-auto overscroll-x-contain">
  {data.map((text) => (
    <li class="bubble-wrapper">
      <Bubble text={text} />
    </li>
  ))}
</ul>
