---
import BlueTag from "../@commons/BlueTag.astro"
import NewsletterSignIn from "../newsletter-signin/index.astro"
---

<h2 class="font-serif text-downriver text-4xl leading-[50px] md:text-6xl md:leading-[82px]">
  Animer des ateliers UX et design thinking
</h2>

<div class="mt-4">
  <BlueTag label="cours en ligne"/>
</div>

<p class="mt-10 text-lg">
  Apprendre à concevoir et faciliter des ateliers collaboratifs, stratégiques et productifs
</p>

<div class="mt-12">
  <NewsletterSignIn />
</div>
