---
import NewsletterSignIn from "../newsletter-signin/index.astro"
---

<div class="py-24">
  <h2 class="text-[34px] font-serif leading-[50px]">
    Le cours est bientôt disponible !
  </h2>
  <p class="mt-5 text-xl">
    Nous prenons le temps de concocter un cours vraiment qualitatif. Abonnez-vous à notre newsletter pour suivre toute l’avancée du projet !
  </p>
  <div class="mt-12">
    <NewsletterSignIn />
  </div>
</div>
