---
import BlueQuote from "../@commons/BlueQuote.astro";

const { text, author } = Astro.props;
---

<div class="flex flex-col xl:flex-row">
  <div class="mb-5 xl:mr-6">
    <span class="xl:hidden">
      <BlueQuote width="34" height="25" client:media="(max-width: 1279px)" />
    </span>
    <span class="hidden xl:block">
      <BlueQuote width="48" height="35" client:media="(min-width: 1280px)" />
    </span>
  </div>
  <figure class="xl:mt-6">
    <blockquote class="mb-5">
      <p class="xl:text-xl">
        {text}
      </p>
    </blockquote>
    <figcaption class="font-bold xl:text-lg">
      {author}
    </figcaption>
  </figure>
</div>
