---
import Acquis from "./Acquis.astro"
---

<div class="px-[20px]">
  <h2 class="mb-10 font-serif text-2xl leading-[42px]">
    À la fin de ce cours, vous saurez...
  </h2>

  <ul class="space-y-10">
    <li>
      <Acquis>
        <strong>construire le brief</strong> avec les parties prenantes et <strong>définir la stratégie</strong> d'un atelier UX en présentiel ou à distance
      </Acquis>
    </li>
    <li>
      <Acquis>
        <strong>concevoir des exercices</strong> UX synchrones ou asynchrones, sur-mesure et efficaces, et trouver le timing parfait
      </Acquis>
    </li>
    <li>
      <Acquis>
        <strong>préparer les supports, organiser</strong> et <strong>communiquer</strong> sur l'atelier en amont et mettre en place l'espace de travail pour le jour J
      </Acquis>
    </li>
    <li>
      <Acquis>
        <strong>faciliter l'atelier, gérer les personnes</strong> participantes et leurs idées, vous sortir <strong>de situations parfois bloquantes</strong> et conclure l'atelier
      </Acquis>
    </li>
    <li>
      <Acquis>
        <strong>analyser les résultats</strong> de l'atelier et les transformer en actions UX à mettre en oeuvre pour la suite du projet
      </Acquis>
    </li>
  </ul>
</div>
